.tableft{
    border-top-left-radius: 8px;
    background-color: #fff;
    color: black;
    font-weight: 800;
    font-size: 0.7rem;
}
.tabright{
    border-top-right-radius: 8px;
    background-color: #fff;
    color: black;
    font-weight: 800;
    font-size: 0.7rem;
}

.tabmiddle{
    background-color: #fff;
    font-weight: 800;
    font-size: 0.7rem;
}

.filloptions{
    margin: 16px
}

input{
    border-radius: 8px;
}